/ejercicio_for/build/
/operadores/nbproject/private/
/operadores/build/
/metodos/nbproject/private/
/Metodoss/nbproject/private/
/ProyectoMetodos/nbproject/private/
/EjercicioEnClase/nbproject/private/
/EjercicioEnClase/build/
/ProyectoMetodos/build/
/MetodosHoy/nbproject/private/
/MetodosHoy/build
/FacturacionDeAlmacen/nbproject/private/
/OperadoresLogicos/nbproject/private/
/FacturacionEnAlmacen/nbproject/private/
/FacturacionEnAlmacen/build/