/ejercicio_for/build/
/operadores/nbproject/private/
/operadores/build/
/metodos/nbproject/private/
/Metodoss/nbproject/private/
/ProyectoMetodos/nbproject/private/
/EjercicioEnClase/nbproject/private/
/EjercicioEnClase/build/
/ProyectoMetodos/build/
/MetodosHoy/nbproject/private/
/MetodosHoy/build
/FacturacionDeAlmacen/nbproject/private/
/OperadoresLogicos/nbproject/private/
/FacturacionEnAlmacen/nbproject/private/
/FacturacionEnAlmacen/build/
/arreglos/nbproject/private/
/arreglos/build/
/ejemploweb/nbproject/private/
/ejemploweb/build/
/Proyecto_Calculadora/nbproject/private/
/Proyecto_Calculadora/build/
/fechas/nbproject/private/